<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Rewrite AlwaysOn" stopProcessing="true">
					<match url="^$" />
					<conditions>
						<add input="{HTTP_USER_AGENT}" pattern="^AlwaysOn$" />
					</conditions>
					<action type="Rewrite" url="/api/Online/Ping" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>